extends layout

block content
	h1= title
	p Welcome to #{title}
	div#socket
		p#broadcast
		p#function
		p#status
	p try going to 
		a(href="/r/earthporn", target="_new") /r/earthporn

	script(type="text/javascript")
		var subreddit = 'karmic-hash'
