extends layout

block content
	h1= title
	div#socket.hide
		p#broadcast
		p#function
		p#status
	div
		include markdown/introduction.markdown

	script(type="text/javascript")
		var subreddit = 'karmic-hash'
